
<div class="container">
  <h2>Material Information</h2>
  <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Material ID:</label>
      <input type="text" id="id" formControlName="id">
      <div *ngIf="materialForm.get('id')?.hasError('required')">
        Material ID is required.
      </div>
    </div>
    <div class="form-group">
      <label for="name">Material Name:</label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="materialForm.get('name')?.hasError('required')">
        Material Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="grade">Grade:</label>
      <input type="text" id="grade" formControlName="grade">
      <div *ngIf="materialForm.get('grade')?.hasError('required')">
        Grade is required.
      </div>
    </div>
    <div class="form-group">
      <label for="width">Width:</label>
      <input type="text" id="width" formControlName="width">
      <div *ngIf="materialForm.get('width')?.hasError('required')">
        Enter decimal number
      </div>
    </div>
    <div class="form-group">
      <label for="thickness">Thickness:</label>
      <input type="text" id="thickness" formControlName="thickness">
      <div *ngIf="materialForm.get('thickness')?.hasError('required')">
        Enter decimal number
      </div>
    </div>
    <button type="submit" [disabled]="!materialForm.valid">Submit</button>
  </form>
</div>

<div>
  <h2>Data </h2>
  <p-table [value]="material" [tableStyle]="{ 'min-width': '50rem' }" class="table">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h4>Materials</h4>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Grade</th>
        <th>Width</th>
        <th>Thickness</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr>
        <td>{{ material.id }}</td>
        <td>{{ material.name }}</td>
        <td>{{ material.grade }}</td>
        <td>{{ material.width }}</td>
        <td>{{material.thickness}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{material ? material.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>
<div>
</div>
