<div class="container">
  <h2>Material Information</h2>
  <form [formGroup]="materialForm" (ngSubmit)="onNewInsert()">
    <div class="form-group">
      <label for="id">Material ID:</label>
      <input type="text" id="id" formControlName="id">
      <div *ngIf="updateForm.get('id')?.dirty">
        <div *ngIf="materialForm.get('id')?.hasError('required')">
          Material ID is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Material Name:</label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="updateForm.get('name')?.dirty">
        <div *ngIf="materialForm.get('name')?.hasError('required')">
          Material Name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="grade">Grade:</label>
      <input type="text" id="grade" formControlName="grade">
    </div>
    <div class="form-group">
      <label for="width">Width:</label>
      <input type="text" id="width" formControlName="width">
      <div *ngIf="updateForm.get('width')?.dirty">
        <div *ngIf="materialForm.get('width')?.hasError('pattern')">
          Enter decimal number
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="thickness">Thickness:</label>
      <input type="text" id="thickness" formControlName="thickness">
      <div *ngIf="updateForm.get('thickness')?.dirty">
        <div *ngIf="materialForm.get('thickness')?.hasError('pattern')">
          Enter decimal number
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!materialForm.valid">Submit</button>
  </form>
</div>

<div>
  <h2>Data </h2>
  <p-table [value]="materials" [tableStyle]="{ 'min-width': '50rem' }" class="table">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h4>Materials</h4>
      </div>
      <button pButton type="button" label="Delete" [disabled]="selectedMaterials.length === 0"
              (click)="deleteMultipleMaterial()"></button>

    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox (click)="onSelectAllChange()"></p-tableHeaderCheckbox>
        </th>
        <th>Edit</th>
        <th>Delete</th>
        <th>ID</th>
        <th>Name</th>
        <th>Grade</th>
        <th>Width</th>
        <th>Thickness</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-material>
      <tr [class]="{'selected-row': isSelected(material)}">
        <td>
          <p-tableCheckbox [value]="material" (click)="onMaterialSelectionChange(material)"></p-tableCheckbox>
        </td>
        <td>
          <button pButton type="button" label="Edit" (click)="updateMaterial(material)"></button>
        </td>
        <td>
          <button pButton type="button" label="Delete" (click)="deleteMaterial(material)"></button>
        </td>
        <td>{{ material.id }}</td>
        <td>{{ material.name }}</td>
        <td>{{ material.grade }}</td>
        <td>{{ material.width }}</td>
        <td>{{material.thickness}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{materials ? materials.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>
<div>
</div>

<p-dialog [(visible)]="displayUpdateDialog" [modal]="true" [style]="{'width': '70%', 'height': '70%'}">
  <ng-template pTemplate="header">
    <h3>Update Buyer Information</h3>
  </ng-template>

  <ng-template pTemplate="content">
    <!-- Update form -->
    <form [formGroup]="updateForm" (ngSubmit)="onNewInsert()">
      <div class="form-group">
        <label for="id">Material ID:</label>
        <input type="text" id="updateId" formControlName="id" class="disabled-input">
        <div *ngIf="updateForm.get('id')?.dirty">
          <div *ngIf="updateForm.get('id')?.hasError('required')">
            Material ID is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Material Name:</label>
        <input type="text" id="updateName" formControlName="name">
        <div *ngIf="updateForm.get('name')?.dirty">
          <div *ngIf="updateForm.get('name')?.hasError('required')">
            Material Name is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="grade">Grade:</label>
        <input type="text" id="updateGrade" formControlName="grade">
        <div *ngIf="updateForm.get('grade')?.dirty">
          <div *ngIf="updateForm.get('grade')?.hasError('required')">
            Grade is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="width">Width:</label>
        <input type="text" id="updateWidth" formControlName="width">
        <div *ngIf="updateForm.get('width')?.dirty">
          <div *ngIf="materialForm.get('thickness')?.hasError('pattern')">
            Enter decimal number
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="thickness">Thickness:</label>
        <input type="text" id="updateThickness" formControlName="thickness">
        <div *ngIf="updateForm.get('thickness')?.dirty">
          <div *ngIf="materialForm.get('thickness')?.hasError('pattern')">
            Enter decimal number
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button (click)="confirmUpdate()" icon="pi pi-check" label="Confirm"
              [disabled]="!updateForm.valid"></p-button>
    <p-button (click)="cancelUpdate()" icon="pi pi-times" label="Cancel" class="p-button-danger"></p-button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>
