/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body{

    background-image: url('src/assets/background.jpg'); /* Path to your image file */
    background-size: cover; /* Adjust as needed (cover, contain, etc.) */
    background-repeat: no-repeat;
    background-position: center;
}


.disabled-input {
  background-color: #f0f0f0; /* Change to the desired background color */
  color: #888; /* Change to the desired text color */
  pointer-events: none; /* Change cursor to indicate it's not clickable */
}
